{% ckan_extends %}

{% block subtitle %}
	{% if dataset_type == 'laws_record' %}
		{{ _('Laws') }}
	{% else %}
		{{ super() }}
	{% endif %}
{% endblock %}

{% block breadcrumb_content %}
	{% if dataset_type == 'laws_record' %}
		{% if pkg %}
			<li>{% link_for _('Laws'), named_route='laws_record.search' %}</li>
			<li{{ self.breadcrumb_content_selected() }}>{% link_for h.dataset_display_name(pkg)|truncate(30), named_route='laws_record.read', id=pkg.name %}</li>
		{% else %}
			<li>{% link_for _('Laws'), named_route='laws_record.search' %}</li>
			<li class="active"><a href="">{{ _('Create Law') }}</a></li>
		{% endif %}
	{% else %}
		{{ super() }}
	{% endif %}
{% endblock %}
